homepage:
    pattern: /
    defaults: { _controller: EorKnlBundle:Reader:index }
    
category_feed_list:
    pattern: /category/{id}
    defaults: { _controller: EorKnlBundle:Reader:categoryFeedList }

item_list:
    pattern: /items/{continuation}/{id}
    defaults: { _controller: EorKnlBundle:Reader:itemList, continuation: 0 }

item_detail:
    pattern: /read/{continuation}/{id}/{itemKey}
    defaults: { _controller: EorKnlBundle:Reader:itemDetail, continuation: 0 }

login:
    pattern:  /login
    defaults: { _controller: EorKnlBundle:Login:login }
    
login_google_check:
    pattern:  /login/google_check
    defaults: { _controller: EorKnlBundle:Login:googleCheck }
    
logout:
    pattern: /logout