{% extends '::base.html.twig' %}

{% block body %}
<div class="margined">
	<div id="container_authorize">
		<h1>Welcome to KindleNewsletter.com!</h1>
		<p class="justified">
			KindleNewsletter.com allows you to read your Google Reader feeds
			through your Kindle web browser. The only what you need to do is
			login with your Google account!
		</p>
		{% if app.session.hasFlash('login.error') %}
			{% include 'EorKnlBundle:Common:_flash.html.twig' with {'message': app.session.getFlash('login.error')} %}
		{% endif %}
		<div id="google_login_container">
			<a href="#" data-href="{{ loginUrl }}" onclick="window.location = $(this).attr('data-href'); return false;" class="kindlebutton">Sign-In with Google</a>
		</div>
		<div class="footer">
			<p>Please note that KindleNewsletter.com is in <strong>beta</strong> phase.</p>
			<p><a href="{{ path('page_contribute') }}">Contribute to the project</a></p>
			<p>Copyright © {{ 'now'|date('Y') }} by Damián Nohales</p>
		</div>
	</div>
</div>
{% endblock %}
