{% extends '::base.html.twig' %}

{% block body %}
<div id="container_authorize_wrapper">
	<div id="container_authorize">
		<h1>Welcome to KindleNewsletter.com!</h1>
		<p class="appdescription">
			KindleNewsletter.com allows you to read your Google Reader feeds
			through your Kindle web browser. The only what you need to do is
			login with your Google account!
		</p>
		{% if app.session.hasFlash('login.error') %}
			{% include 'EorKnlBundle:Common:_flash.html.twig' with {'message': app.session.getFlash('login.error')} %}
		{% endif %}
		<div id="google_login_container">
			<a href="{{ loginUrl }}" class="kindlebutton">Sign-In with Google</a>
		</div>
		<div class="footer">
			<p>Source code of KindleNewsletter.com is available on
			<a href="https://github.com/eagleoneraptor/kindlenewsletter">GitHub</a>
			under the terms of the <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public License</a>.</p>
			<p>Copyright © {{ 'now'|date('Y') }} by Damián Nohales</p>
		</div>
	</div>
</div>
{% endblock %}
