parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    greader_config.client_id: ""
    greader_config.email_address: ""
    greader_config.client_secret: ""
    greader_config.redirect_uri: ""
    greader_config.javascript_origin: ""

	readability_token: ""
