jms_security_extra:
    secure_all_services: false
    expressions: true

security:
    providers:
        database:
            entity:
                class: Eor\KnlBundle\Entity\User
                property: id

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt|test)|css|images|js)/
            security: false

        public:
            pattern:  ^/(login|contribute)
            security: false
            
        secured_area:
            pattern:    ^/
            form_login:
                login_path: /login
            logout:
                path:   /logout
