{% spaceless %}
<ul class="generic-list item-list">
	{% for i in list.items %}
		<li class="{{ not i.readed? 'unreaded':'readed' }}">
			<a class="main-link" href="{{ path('item_detail', {'continuation':list.currentContinuation is null? '0':list.currentContinuation, 'id': list.stream.key, 'itemKey': i.key}) }}">
				<span class="title">{{ i.title|raw }}</span>
			</a>
		</li>
	{% endfor %}
	{% if list.continuation %}
		<li class="nextpage">
			<a class="main-link" href="{{ path("item_list", {"id": list.stream.key, "continuation": list.continuation}) }}">
				<span class="title">Next page &gt;</span>
			</a>
		</li>
	{% endif %}
</ul>
{% endspaceless %}