@import "colors";
@import "common";
@import "mixin";

#container_authorize_wrapper {
	margin: 0pt 10pt;
}

#container_authorize {
	p.appdescription {
		text-align: justify;
	}
	h1 {
		font-size: 1.6em;
		margin: 10pt 0 13pt 0;
		text-align: center;
	}
	#google_login_container {
		margin-top: 20pt;
		text-align: center;
		a{
			//width: 100%;
		}
	}
	.footer {
		font-size: 0.7em;
		//width: 95%;
		margin-top: 40pt;
		text-align: center;
		border-top: 1px solid lightgray;
	}
}

.kindlebutton {
	cursor: pointer;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	color: black;
	text-align: center;
	padding: 8px 10px;
	display: inline-block;
	text-decoration: none !important;
	max-height: 28px;
	&:active {
		background-color: black;
		color: white;
	}
	&.disabled {
		border-color: gray;
		color: gray;
	}
}

.flash {
	padding: 20px;
	border: 2px solid gray;
	border-radius: 10px;
	div {
		display: inline-block;
		margin-left: 10px;
		vertical-align: middle;
		width: 70%;
	}
	img {
		vertical-align: middle;
	}
}

.top-menu {
	background-color: $topmenu-bg;
	border-bottom: 1px solid $topmenu-border-color;
	padding: 10px 30px;
	.current-page {
		font-size: 1.5em;
		float: left;
	}
	.buttons {
		float: right;
	}
	@include clearfix;
}

.popmenu {
	.popmenu-items {
		display: none;
	}
	img {
		vertical-align: middle;
	}
}

.generic-list {
	@include clearfix;
	margin: 0;
    padding: 0;
	li {
		list-style-image: none;
		list-style-type: none;
		border-bottom: solid 1px lightgray;
	}
	li a:last-child {
		color: black;
		text-decoration: none;
		display: block;
		padding: 15px 25px 15px 30px;
	}
	li.readed a:last-child {
		color: #777;
	}
	img {
		vertical-align: middle;
		max-width: 18px;
		max-height: 18px;
		margin-right: 12px;
	}
	
	span.title {
		vertical-align: middle;
		display: inline-block;
	}
}

.stream-list {
	span.title {
		width: 75%;
	}
	
	span.count {
		float: right;
	}
}

.item-list {
	span.title {
		width: 90%;
	}
}

.item-detail {
	margin: 7pt 30px 10pt;
	h1.title {
		margin: 0;
		padding: 0;
		font-size: 1.5em;
	}
	.streamtitle {
		color: #555;
		margin: 0.8em 0;
		font-style: italic;
	}
	.metainfo {
		margin: 0.8em 0;
	}
	.content {
		img {
			max-width: 100%;
			//Keep aspect ratio
			height: auto;
		}
		pre {
			white-space: pre-wrap;
		}
	}
}
