@import "colors";
@import "common";
@import "mixin";

#container_authorize_wrapper {
	margin: 0pt 10pt;
}

#container_authorize {
	p.appdescription {
		text-align: justify;
	}
	h1 {
		font-size: 1.6em;
		margin: 10pt 0 13pt 0;
		text-align: center;
	}
	#google_login_container {
		margin-top: 20pt;
		text-align: center;
		a{
			//width: 100%;
		}
	}
	.footer {
		font-size: 0.7em;
		//width: 95%;
		margin-top: 40pt;
		text-align: center;
		border-top: 1px solid lightgray;
	}
}

.kindlebutton {
	cursor: pointer;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	color: black;
	text-align: center;
	padding: 8px 10px;
	display: inline-block;
	text-decoration: none !important;
	max-height: 28px;
	&:active {
		background-color: black;
		color: white;
	}
	&.disabled {
		border-color: gray;
		color: gray;
	}
}

.flash {
	padding: 20px;
	border: 2px solid gray;
	border-radius: 10px;
	div {
		display: inline-block;
		margin-left: 10px;
		vertical-align: middle;
		width: 70%;
	}
	img {
		vertical-align: middle;
	}
}

.top-menu {
	background-color: $topmenu-bg;
	border-bottom: 1px solid $topmenu-border-color;
	padding: 10px 30px;
	font-size: 1.5em;
	@include clearfix;
	.go-back-button {
		display: inline-block;
		margin-right: 10px;
	}
}

.popmenu {
	.popmenu-items {
		display: none;
	}
	img {
		vertical-align: middle;
	}
}

#popmenu_holder {
	font-size: 1.1em;
	display: none;
	border: 2px solid black;
    border-radius: 15px 15px 15px 15px;
    left: 8%;
    min-height: 60%;
    position: fixed;
    top: 20%;
    width: 84%;
	background-color: white;
	.titlebar {
		background-color: $topmenu-bg;
		border-radius: 15px 15px 0 0;
		padding: 10px 20px;
		font-weight: bold;
		@include clearfix;
	}
	.content ul {
		margin: 0;
		padding: 0 20px;
		li {
			list-style-image: none;
			list-style-type: none;
			border-bottom: solid 1px lightgray;
			&:last-child {
				border-bottom: none;
			}
		}
		li a {
			color: black;
			text-decoration: none;
			display: block;
			padding: 15px 0;
		}
	}
}

#popmenu_holder_close img {
	vertical-align: middle;
}

#popmenu_holder_background {
	background-color: white;
	height: 100%;
	left: 0;
	opacity: 0.1;
	position: fixed;
	top: 0;
	width: 100%;
	display: none;
}

.generic-list {
	@include clearfix;
	margin: 0;
    padding: 0;
	li {
		list-style-image: none;
		list-style-type: none;
		border-bottom: solid 1px lightgray;
	}
	li a:last-child {
		color: black;
		text-decoration: none;
		display: block;
		padding: 15px 25px 15px 30px;
	}
	li.readed a:last-child {
		color: #777;
	}
	img {
		vertical-align: middle;
		width: 18px;
		height: auto;
		margin-right: 12px;
	}
	
	span.title {
		vertical-align: middle;
		display: inline-block;
	}
}

.stream-list {
	span.title {
		width: 75%;
	}
	
	span.count {
		float: right;
	}
}

.item-list {
	span.title {
		width: 90%;
	}
	span.origin {
		color: #777;
		font-style: italic;
	}
	li.nextpage span.title {
		font-style: italic;
	}
}

.item-detail {
	margin: 7pt 30px 10pt;
	h1.title {
		margin: 0;
		padding: 0;
		font-size: 1.5em;
	}
	.metainfo {
		margin: 0.8em 0;
		color: #555
	}
	.content {
		img {
			max-width: 100%;
			//Keep aspect ratio
			height: auto;
		}
		pre {
			white-space: pre-wrap;
		}
	}
}

.item-detail-commands {
	border-left: 1px solid gray;
	display: inline;
	margin-left: 20px;
	padding-left: 15px;
	a {
		text-decoration: none;
	}
	a img {
		padding: 0 10px;
		vertical-align: middle;
	}
}
